<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
  <!-- bower:js -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/handlebars/handlebars.js"></script>
  <script src="../../bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/./src/assets/js/bundle.js"></script>
  <script src="/./src/assets/js/main.js"></script>
  <script src="/./src/assets/js/modules/anotherLogger.js"></script>
  <script src="/./src/assets/js/modules/logger.js"></script>
  <script src="/./src/assets/js/modules/Myobject.js"></script>
  <script src="/./src/assets/js/modules/templates.js"></script>
  <!-- endinject -->
  </body>

</html>